* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #4e6b91, #2b3b5e);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto; /* Esto permitirá hacer scroll en la página */
}

.contenedor {
    text-align: center;
    width: 80%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 36px;
    color: #f2b705;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

h1:hover {
    color: #d88f00;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#descripcion {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

#resultados {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: left;
}
